@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2a2a2a;

  --brand-red: #ff0708;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--brand-red);

  --font-cinzel: var(--font-cinzel);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #2a2a2a;
  }
}

body {
    font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



